<!-- Tempalte Syntax -->

<!-- first "hinv-header": It's header.title value gets changed because of the modification of "ngAfterViewChecked()" lifecycle hook in invoked in the roomComponent -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>

<!-- Interpolation "hotelName" -->
<h1>Welcom to {{ hotelName }}</h1>

<h4>(Test-3) Testing automated PR & merge to destination branch using <b>github actions</b></h4>

<!-- Based on the example of event-binding (Porperty Binding); "hidden" is a valid html-property -->
<div [hidden]="hideRooms">
    <!-- Property Binding / Dynamically bind property on any valid html property using the square-brackets -->
    <p>Number of rooms: <span [innerText]="numOfRooms"></span></p>
</div>

<!-- Show a message if available rooms are greater than 0 using "*ngIf" directive. -->
<div *ngIf="rooms.availableRooms > 0">
    <h3 style="color:coral;">**Rooms are available</h3>
</div>

<!-- Using of "ngStyle" to change inline styling conditionally -->
<div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}">
    <h3>(<small>**using "ngStyle"</small>) Rooms are available</h3>
</div>

<!-- Show a message if "availableRooms" property doesn't exist in the object using null coalescing -->
<!-- {{ rooms.bookedRooms ?? "No rooms are booked" }} -->

<!-- NB: Doesn't require Optional Chaining since if the object doesn't have the property, angular will simple show nothing regarding that property -->
<div>
    <b>No. of available room: {{ rooms.availableRooms }}</b>
</div>

<!-- Event Binding / By using banana-syntax "()" -->
<button (click)="toggle()">Toggle</button>
<br>
<button (click)="addRoom()">Add Room</button>
<br>
<button (click)="hideRoomList_handler()">Hide Room List</button>

<!-- Using "*ngFor" directive to display array of records
    ; Demonstrate "ngOnDestroy" lifecycle hook
    ; Incorporating with *ngIf directive since it will remove the HTML elem from the DOM if the expression evaluates to false
    ; The roomlist component will be destroyed; thus the "ngOnDestroy" hook of roomlist component will caught the destroy event of this component -->
<!-- <div *ngIf="!hideRoomList"> -->
<!-- Creates a valid attribute "rooms" using "@Input()" decorator in child component; thus this HTML tag is able to add this here -->
<!-- Get any data emitted from the child component using "@Output" decorator defined inside the child component -->
<!-- Any event received from a child component should always be accessed using "$event" -->
<!-- <hinv-rooms-list [rooms]="roomList" [title]="tableTitle" (roomSelected)="selectRoom($event)"></hinv-rooms-list> -->

<!-- Rather than subscribing to multiple times to the observable, use a type casting of the "rooms$" property -->
<div *ngIf="rooms$ | async as rooms">
    <!-- Use rooms$ stream w/ async pipe; make the "rooms" property inside the room-list.component of type "RoomList[] | null", since the async pipe may also return null -->
    <!-- <hinv-rooms-list [rooms]="rooms$ | async" [title]="tableTitle"
        (roomSelected)="selectRoom($event)"></hinv-rooms-list> -->
    <hinv-rooms-list [rooms]="rooms" [title]="tableTitle" (roomSelected)="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- Pipes: JsonPipe; Aid to debugging purpose only; Require to manually change the boolean value of "showRoomListJson" in component.ts file -->
<div *ngIf="showRoomListJson">
    <h3>Room list (json-response)</h3>
    <p>{{ roomList | json }}</p>
</div>

<div *ngIf="selectedRoom">
    <h3>Selected Room (json-response)</h3>
    <p>{{ selectedRoom | json }}</p>
</div>

<h1>
    {{ totalBytes }} loaded
</h1>

<br><br>

<div>
    <h1>
        Rooms List (using Async pipe)
    </h1>
    {{ rooms$ | async | json }}

    <h2>
        {{ getError$ | async }}
    </h2>
</div>