<h1>Programming Books List!</h1>

<!-- <div>
    <input type="text" [(ngModel)]="inputVal">
    <p>User Input:<b> {{ inputVal }} </b></p>
</div> -->

<br><br>

<!-- <button (click)="handlieClick()" [disabled]="isDisabled">Show Books</button> -->
<!-- <button (click)="toggleBooks()">Toggle Books</button> -->

<!-- NB: Instead of using a function, the boolean-variable-changing can be done straightly inside the double-quotation where the function is called! -->
<!-- <button (click)="isShow = !isShow">Toggle Books</button> -->

<!-- Task: Instead of "Toggle Books", depict "Show Books" when "isShow=false" & vice versa -->
<!-- <button (click)="isShow = !isShow"> -->
    <!-- Elaborated Conditions -->
    <!-- <span *ngIf="isShow == false">Show Books</span>
    <span *ngIf="isShow == true">Hide Books</span> -->

    <!-- Concise Conditions -->
    <!-- <span *ngIf="!isShow">Show Books</span>
    <span *ngIf="isShow">Hide Books</span> -->

    <!-- NB: Instead of using <span> tags, use <ng-container>. Unlike <span tag> this will render only the value 
        of the <ng-container> tag to the html-template after conditional-checks. -->
    <!-- <ng-container *ngIf="!isShow">Show Books</ng-container>
    <ng-container *ngIf="isShow">Hide Books</ng-container> -->
<!-- </button> -->

<!-- Prac-1: Create a toggle btn for showing/hiding the "list of books" [TESTED FOR "ngOnDestroy()", NOT USING CURRENTLY] -->
<!-- <button (click)="isShow = !isShow">Toggle</button> -->

<ul *ngIf="isShow">
    <!-- Property Binding is implemented in the attrs of html elems; e.g 'src', 'alt' -->
    <!-- <li>
        <img [src]="src" [alt]="bookName" width="100" height="150">
        <b> {{ bookName }} </b> by <b> {{ bookAuthor }} </b>
    </li> -->

    <!-- Iterate using *ngFor; Depict the index values. -->
    <!-- NB: 
        - It's preferred to use *ngFor in an <ng-container> 
        - Since this book-section is getting bigger, it'd be palced inside a child component
    -->
    <ng-container *ngFor="let singleBook of books; let i=index">
        <!-- Add new child component (Skeleton of single book / <li> tag) here -->
        <!-- NB: 
            - Listen to custom-event  child component.
            - Use "$paramName" to pass the data 
        -->
        <!-- NB: Not emitting anything from the child component -->
        <!-- <app-book (emitBook)="addToCart($event)" [book]="singleBook" class="book"></app-book> -->

        <app-book [book]="singleBook" class="book"></app-book>
    </ng-container>
</ul>
