<!-- <h1>Hellow External Template</h1> -->
<!-- Add new child components here -->
<!-- <app-books></app-books>
<app-cart></app-cart> -->

<!-- Global Navbar -->
<nav class="flex justify-between p-4 bg-blue-800 text-white">
    <div>
        <h1 class="text-2xl cursor-pointer" routerLink="/">Books Shop</h1>
    </div>
    <div class="mr-7">
        <a routerLink="/cart" class="mx-3 text-lg">Cart</a>
        <a routerLink="/login" class="mx-3 text-lg">Login</a>
        <a routerLink="/register" class="mx-3 text-lg">Register</a>
    </div>
</nav>

<!-- From now on, routing of each component will be handled by the <router-outlet> -->
<router-outlet></router-outlet>