<!DOCTYPE html>
<!-- Include the room-components HTML tag -->
<div class="container">
    <h1>Hellow World!
        <small>"app" component</small>
    </h1>

    <!-- From the phase of "ngAfterViewInit" lifecycle hook, the "rooms" component is loaded dynamically. -->
    <!-- Defining in the container-component's template tag, since a squence is defined there. -->
    <!-- <hinv-rooms></hinv-rooms> -->

    <!-- Dynamically load the "rooms" component -->
    <!-- <div>
        <ng-template #user></ng-template>
    </div> -->

    <!-- Sample Div: to modify using "template ref", "@ViewChild" & "ngAfterViewInit" hook -->
    <div #sampleDiv></div>
    <br><br>
    <b>The sequence of components are started from below:</b>
    <hr><br>
    <!-- Employee component will be destroyed; thus "ngOnDestroy" hook will be invoked inside the "employee" component regardless of being passed as content in the "container" component -->
    <button class="btn btn-secondary"
        (click)="toggleEmployee()">Toggle Employee component (destroyed inside "employee" component)</button>
    <!-- "Content Project" for learning "ngAfterContentInit" lifecycle hook -->
    <hinv-container>
        <!-- Contents cannot be passed in such manner, unless that component has "ng-content" tag -->
        <hinv-employee *ngIf="showEmployeeComponent"></hinv-employee>
        <h2 style="color:crimson;">Container Component</h2>
        This content is dynamically injected into "container" conponent from the "hinv-container" HTML template tag from the "app" component. The "ng-content" native-template-tag of the "container" component is replaced by this current content.
        <hinv-rooms></hinv-rooms>
    </hinv-container>
</div>

<!-- Structural Directives: *ngSwitch -->
<!-- 
    Scenario: The "rooms" component will be visible to the admin-users rather than the normal-users.
    It can be achieved by using *ngSwitch.
-->
<!-- The rooms component will only be visible to "admin-user" -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User!
    </div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div> -->

