<h1>Hello World</h1>

<!-- Directly change the content inside here
    ; The order here won't take place since it's defined inside the template of "container" component
    : Working with "ngAfterContentInit" lifecycle hook. -->
<hinv-container>
    <!-- Whatever is loaded inside this container is the content -->
    <hinv-employee></hinv-employee>
    <hinv-dummy-content></hinv-dummy-content>
    <!-- Other devs will write codes here & whatever doesn't match the html tags (eg. hinv-employee or hinv-dummy-content) with the ng-content's select property's value from the 'container' component will fall inside the ng-content with no "select" property of that "container" component's html template -->
    <!-- The following <p> tag will fall inside the plain <ng-content> -->
    <p>This is from ng-content.</p>
</hinv-container>

<!-- Propagate the div-template using "@ViewChild()", "ElementRef" & "ngAfterViewInit()" lifecycle hook -->
<div #name></div>

<!-- Demonstration of "ngSwitch": if the user-role is "Admin", only then the rooms-component will be displayed -->
<!-- Bu using "ngSwitchCase" the view-components can be toggled -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User!
    </div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div> -->


<!-- Load "Rooms" component dynamically using "@ViewChild()", "ViewContainerRef" & "ngAfterViewInit()" lifecycle hook
    ; "#" used as prefix is a template reference.
    RoomComponent is propagated here. -->
<ng-template #user></ng-template>